.ui.inverted.segment,
.ui.primary.inverted.segment {
  background-color: #65c1c2 !important;
}

.ui.inverted.header{
  color: #2a5052!important;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.ui.inverted.link.list .item, .ui.inverted.link.list .item a:not(.ui), .ui.inverted.link.list a.item{
  color: #2a5052!important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.desc-footer{
  color: #2a5052!important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

a{
  color: #2a5052!important;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.foot-2 {
  text-align: center;
  color: #2a5052!important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
